<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Renkler
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li 
    *ngFor="let color of colors">
      <a  class="dropdown-item" (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{ color.id }}"
      [class]="getCurrentColorClass(color)">{{ color.name }}</a>
    </li>
  </ul>
</li>
