<div>
  <br />
  <div class="card" *ngIf="carImageDetails">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div
        class="carousel-inner"
        *ngFor="let image of carImageDetails.carImages"
      >
        <div class="carousel-item active">
          <img
            [src]="getImage(image)"
            class="d-block w-100"
            width="500"
            height="400"
            [alt]="getImage(image)"
            *ngIf="image.imagePath != null"
          />
        </div>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ carImageDetails.car.description }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ carImageDetails.car.dailyPrice }} ₺</li>
      <li class="list-group-item">{{ carImageDetails.car.modelYear }}</li>
      <li class="list-group-item">{{ carImageDetails.car.findexPoint }}</li>
    </ul>
    <br />
    <button
      class="btn btn-success form-control"
      routerLink="/baskets/{{ carImageDetails.car.id }}"
    >
      Kirala
    </button>
  </div>
</div>
