<br />
<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Renk Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="colorAddForm" *ngIf="colorAddForm">
          <div class="mb-3">
            <label for="name">Renk Adı</label>
            <div class="form-group">
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                placeholder="Renk Adı"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
